.Calendar:focus {
  outline-color: blue;
  outline-style: dotted;
  outline-width: 2px;
  outline-offset: 0;
}

.Cell {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  min-width: 32px;
  padding: 4px;
  border: 1px solid gray;
  user-select: none;
}

.Cell:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.CellHighlighted {
  background-color: aliceblue;
  outline-color: blue;
  outline-style: dotted;
  outline-width: 2px;
  outline-offset: 0;
}

.CellSelected {
  background-color: mediumblue;
  color: white;
}

.CellSelected:hover {
  background-color: midnightblue;
}

.CellNotCurrentMonth {
  color: lightslategray;
}

.Header {
  text-align: center;
}
