.Cell {
  box-sizing: border-box;
  display: inline-flex;
  justify-content: center;
  min-width: 32px;
  padding: 4px;
  border: 1px solid gray;
  user-select: none;
}

.Cell:hover {
  background-color: aliceblue;
  cursor: pointer;
}

.CellSelected {
  background-color: mediumblue;
  color: white;
}

.CellSelected:hover {
  background-color: midnightblue;
}

.CellNotCurrentMonth {
  color: lightslategray;
}
